swagger: '2.0'
info:
  title: Star Wars Explorer API
  description: API para exploração de dados do universo Star Wars via GCP.
  version: 1.0.0
schemes:
  - https
produces:
  - application/json
paths:
  /explorar:
    get:
      summary: Busca informações de Star Wars
      operationId: getStarWarsData
      parameters:
        - in: query
          name: tipo
          type: string
          required: true
          description: O tipo de recurso (people, planets, starships, films).
        - in: query
          name: termo
          type: string
          required: false
          description: Termo para filtro (nome do personagem, planeta, etc).
      x-google-backend:
        address: https://us-central1-star-wars-challenge-486413.cloudfunctions.net/starwars-backend
      responses:
        '200':
          description: Sucesso
          schema:
            type: object
        '400':
          description: Requisição Inválida