# Auto detect text files and perform LF normalization
* text=auto


# Linguist - ocultar arquivos de frontend da contagem de linguagens
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
